<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="row">
        <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a style="margin-top: -8px;" class="navbar-brand" href="/">
                  <p style="color:white;margin-bottom: 2px; font-size: 60%; font-weight: bold;">AROMA</p>
                  <p style="color:white; font-size: 60%; font-weight: bold;">COFFEE</p>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav main-nav  clear navbar-right ">
                    <li><a class="navactive color_animation" href="#top">HOME</a></li>
                    <li><a class="color_animation" href="#story">ABOUT</a></li>
                    <li><a class="color_animation" href="#pricing">MENU</a></li>
                    <li><a class="color_animation" href="#bread">COFFEE</a></li>
                    <li><a class="color_animation" href="#featured">FEATURED</a></li>
                    <li><a class="color_animation" href="#reservation">HOURS & LOCATION</a></li>
                    <li><a class="color_animation" href="#contact">CONTACT</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </div><!-- /.container-fluid -->
</nav>

<div id="top" class="beer background_content">
    <div class="follow_container">
        <div class="col-md-6 col-md-offset-3">
          <!-- <h2 style="text-shadow: 5px 5px #000000;" class="top-title">AROMA COFFEE</h2> -->
          <h2 style="text-shadow: 2px 2px #000000; margin-top: 30%;" class="white second-title">" Best in the neighbourhood "</h2>
          <hr>
        </div>
    </div>
</div>

<!-- ============ About Us ============= -->

<section id="story" class="description_content">
    <div class="text-content container">
        <div class="col-md-12">
            <h1>About us</h1>
            <div class="fa fa-coffee fa-2x faa-tada animated faa-slow"></div>
            <p style="text-align: center;" class="desc-text">Aroma Coffee is a humble cafe situated on 12th and Arbutus in beautiful Kitsilano. We proudly serve the finest beans in the neighbourhood, as well as fresh, delicious local baked goods. Come in and enjoy our cozy atmosphere and a nice cup of joe, you won’t be disappointed! </p>
            <br>
        </div>

        <div class="col-md-12">
            <div class="img-section">
              <center>
               <img class="img-responsive" style="border-radius: 25px;" src="/assets/27.jpg" width="520">
             </center>
           </div>
        </div>
    </div>
</section>


<!-- ============ MENU  ============= -->


<section id ="pricing" class="description_content_menu">
     <div style="text-shadow: 5px 5px #000000;" class="pricing background_content">
        <h1><span>MENU</span></h1>
     </div>

        <div class="jumbotron-fluid">

          <center><img class="img-responsive" src="/assets/menu.jpg" alt=""></center>

        </div>

</section>


<!-- ============ Our COFFEE  ============= -->


<section id="bread" class="description_content_menu">
    <div class="bread background_content">
        <h1 style="text-shadow: 5px 5px #000000;"><span>OUR COFFEE</span></h1>
    </div>
    <div class="text-content container">
        <div class="col-md-12">
            <h1>OUR COFFEE</h1>
            <div class="fa fa-coffee fa-2x faa-tada animated faa-slow"></div>
            <center>
              <p style="text-align: center;" class="desc-text">We mainly provide coffee beans from JJ Bean Coffee Roasters as well as other special blends.  If you're not sure what to pick, we'll be glad to help you select the coffee that will satisfy you.</p>
            </center>
        </div>

        <div class="col-md-12">
          <hr>
            <div class="col-md-6">
              <img class="img-responsive" style="border-radius: 25px;" src="/assets/18.jpg" width="520" alt="Bread">
            </div>
            <div class="col-md-6">
              <img class="img-responsive" style="border-radius: 25px;" src="/assets/19.jpg" width="520" alt="Bread">
            </div>
        </div>
    </div>
</section>



<!-- ============ Featured Beverage  ============= -->

<section id="featured" class="description_content">
    <div  class="featured background_content">
        <h1 style="text-shadow: 5px 5px #000000;"><span>FEATURED BEVERAGE & SNACKS</span></h1>
    </div>
    <div class="text-content container">
        <div class="col-md-5">
            <h1>What we offer</h1>
            <div class="fa fa-coffee fa-2x faa-tada animated faa-slow"></div>
            <p class="desc-text">At Aroma Coffee, we provide our special Dripped Coffee as well as pasteries and other beverages.  All of our coffee and pastries are freshly made and baked.</p>
        </div>
        <div class="col-md-7">
            <ul class="image_box_story2">
                <div style="margin-top: 100px;" id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="6"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div style="border-radius: 20px;" class="carousel-inner">
                        <div class="item active">
                            <img class="img-responsive" src="/assets/31.jpg"  alt="...">
                            <div class="carousel-caption">

                            </div>
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="/assets/28.jpg" alt="...">
                            <div class="carousel-caption">

                            </div>
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="/assets/20.jpg" alt="...">
                            <div class="carousel-caption">

                            </div>
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="/assets/21.jpg" alt="...">
                            <div class="carousel-caption">

                            </div>
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="/assets/22.jpg" alt="...">
                            <div class="carousel-caption">

                            </div>
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="/assets/23.jpg" alt="...">
                            <div class="carousel-caption">

                            </div>
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="/assets/24.jpg" alt="...">
                            <div class="carousel-caption">

                            </div>
                        </div>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</section>

<!-- ============ Reservation  ============= -->

<section  id="reservation"  class="description_content">
    <div class="reservation background_content">
        <h1 style="text-shadow: 5px 5px #000000;"><span>HOURS & LOCATION</span></h1>
    </div>
    <div class="text-content container">
        <div class="inner contact">
            <!-- Form Area -->
            <div class="contact-form">
                <!-- Form -->
                <form id="contact-us" method="post" action="reserve.php">
                    <!-- Left Inputs -->
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4">

                            </div>
                            <div class="col-lg-4 col-md-6 col-xs-12">
                                <!-- Message -->
                                <div >
                                    <h2>Hours <i class="fa fa-clock-o faa-spin animated faa-slow" aria-hidden="true"></i></h2><hr>
                                    <p>Monday to Sunday: 7:00 AM - 7:00 PM</p>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Clear -->
                    <div class="clear"></div>
                </form>
            </div><!-- End Contact Form Area -->
        </div><!-- End Inner -->
    </div>
</section>

<!-- ============ Contact Section  ============= -->
<br>
<section>
    <div  class="map">
        <div class="maps" onclick="document.getElementById('iframe').style.pointerEvents= 'auto'">
         <iframe id="iframe" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d883.2305120218477!2d-123.15328374481774!3d49.26124458430491!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd2341b61db1285a8!2sAroma+Coffee!5e0!3m2!1sen!2sca!4v1497908297513" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-12">
              <center><h1>Contact Us</h1></center>
              <div class="col-md-4">
              </div>
              <div class="col-md-4">
                <center>
                  <a href="https://www.instagram.com/aromacoffeevan"><i style="font-size: 30px; padding: 10px;" class="fa fa-instagram faa-pulse animated-hover" aria-hidden="true" tool-tip-toggle="tooltip-demo" data-original-title="Follow Us On Instagram!"></i></a>

                  <a href="/"><i style="font-size: 30px; padding: 10px;" class="fa fa-twitter-square faa-pulse animated-hover" aria-hidden="true" tool-tip-toggle="tooltip-demo" data-original-title="Follow Us On Twitter!"></i></a>

                  <a href="https://www.facebook.com/aromacoffeevan/"><i style="font-size: 30px; padding: 10px;" class="fa fa-facebook-square faa-pulse animated-hover" aria-hidden="true" tool-tip-toggle="tooltip-demo" data-original-title="Follow Us On Facebook!"></i></a>
                </center>
              </div>
              <div class="col-md-4">
              </div>

              <div class="inner contact">
                <hr>
                <div class="col-md-3">
                </div>

                <div class="col-md-4">
                  <a style="font-size: 20px;" class="fa fa-envelope" href="mailto:aromacoffeevancouver@gmail.com" target="_top"> aromacoffeevancouver@gmail.com</a>
                </div>

                <div class="col-md-4">
                  <p style="font-size: 20px;" class="fa fa-phone-square" aria-hidden="true"> (604) 559-1661</p>
                  <br>
                  <br>
                  <br>
                  <br>
                </div>
              </div><!-- End Inner -->
            </div>
        </div>
    </div>
</section>

<!-- ============ Footer Section  ============= -->

<footer class="sub_footer">
    <div class="container">
      <div class="col-md-4">
      </div>

      <div class="col-md-4"><p class="sub-footer-text text-center"><a href="#top">Back To Top</a></p>
      </div>

      <div class="col-md-4"><p class="sub-footer-text text-center">&copy; <a href="http://www.noctiflow.com">Noctiflow 2017 <img src="/assets/noctiflowlogo.png"></a></p></div>

    </div>
</footer>
